{% extends "base.html" %}
{% block brand_mascot %}
  <img class="mascot" src="{{ url_for('static', filename='img/pompompurin.gif') }}"
       width="56" height="56" alt="pompompurin">
{% endblock %}
{% block brand_title %}
  <span class="site-title">journal</span>
{% endblock %}
{% block nav %}
  <a href="{{ url_for('journal_today') }}">New entry</a>
  <a href="{{ url_for('journal_search') }}">Search</a>
  <a href="{{ url_for('journal_sections') }}">Manage sections &amp; tags</a>
{% endblock %}
{% block content %}
  <p>manage sections</p>
{% endblock %}
